*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: black;
    height: 80px;
    width: 100%;
}
/*PARTE DE MI LOGO---------------------------------------------------------------------*/
.logo{
    width: 120px;
    height: 80px;
    display: inline-block;
}

.img-acu{
    background: transparent url(../images/sebalogo.png) no-repeat  center;
    width:120px;
    height: 80px;
    float: left;
    background-size: 100%;
    padding-bottom: 10px;
}

.img-acu:hover{
    background-image: url(../images/sebalogo.gif);
}

/* *-------------------------------------------------------------------------------------------------/

/* NAV BAR*-------------------------------------------------------------------------*/

nav ul li a{
    color: white;
    text-transform: uppercase;
    padding: 20px;
    font-size: 17px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    font-family: Montserrat;
}


.checkbtn{
    font-size: 30px;
    float: right;
    color: white;
    display: none;
    cursor: pointer;
    line-height: 80px;
    margin-right: 40px;
}

#check{
    display: none;
}

/*----------------------------------------------------------------------*/


.Aboutme{
    font-family: Montserrat;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 10px;
    height: 100%;
}


.me{
    padding-top: 70px;
    height: 400px;
    display: flex;
    width: 45%;
}

.prerender{
    float: right;
    padding-left: 60px;
}

.prerender img{
    width: 750px;
    height: 400px;
}

.brainstress{
    float: left;
    padding-top: 10px;
}

.brainstress img{
    width: 750px;
    height: 400px;
}

.lorem{
   float: right;
    width: 45%;
    padding-right: 50px;
    padding-top: 80px;
    height: 80px;
    display: initial;
    padding-left: 60px;
    
}

.section1{
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    width: 100%;
    justify-content: space-around;
}

.section2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-left: 30px;
}




/*----------------------------------------------------------------RENDER HTML-----------------------------------------------*/
.sectionrenders{
    /*width: 100%;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;*/
    font-family: Montserrat;
}

.renderh2{font-family: Montserrat;
padding-top: 40px;
padding-left: 30px;}

.section3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 30px;
}

.studyimg{
    float: left;
    /*padding-left: 30px;
    padding-top: 30px;*/
}

.studyimg img{
    height: 607px;
    border-radius: 10%;

}


.walle{
    float: right;    
    /*padding-top: 30px;
    padding-right: 30px;*/
}
.walle img{

    height: 607px;
    border-radius: 10%;
}


.section4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    width: 100%;
}
.space{
    width: 100%;
    height: 100%;
}

.space img{
    width:100%;
    border-radius: 0;
}



























/*------------------------------------------------------------------------------*/


@media(max-width: 1570px){
    .me{width: 100%;
    height: auto;}
}

.prerender img{
    max-width: 230%;
}

.prerender{
    padding-left: 0;
}

.brainstress img{
    max-width: 230%;
}




@media(max-width: 952px) {
    ul{
        font-size: 10px;
        position: fixed;

    }

    .brainstress img{
        max-width: 100%;
        height: auto;
    }

    .me{
        width: 100%;
        height: auto;
    }

    .lorem{
        float: none;
    }



}

@media(max-width:858px){
    .checkbtn{display: block;}

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover,a.active{
        background: none;
        color: black;
    }
    #check:checked ~ ul {
        left:0;
    }

    .Aboutme h1{
        font-size:13px;
    }

    .me{
        width: auto;
        height: auto;
        padding-top: 20px;
    }

    .prerender img{

       width: 100%;
       height: 102%;
    }

    .prerender{
        float: none;
        width: 100%;
        height: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .brainstress img{
        display: flex;
        width: 100%;
        height: auto;    }

    .lorem{
        width: 100%;
        height: auto;
        padding-top: 2px;
        padding-right: 0;
        padding-left: 0;
    }

    .Aboutme{
        width: 100%;
        padding-top: 0;
        padding-left: 0;

        
    }

    .section1{
        width: 100%;
        font-size: 12px;
        padding-left: 1px;
    }

    .section2{
        padding-left: 1px;
    }

    .section3{
        padding-bottom: 0;
    }

    .sectionrenders{
        
        padding-left: 0;
    }

    .studyimg img{
        display: flex;
        width: 100%;
        height: auto;
        border-radius: 0;
    }
    .walle img{
        display: flex;
        width: 100%;
        height: auto;
        border-radius: 0;
    }
    
}









